<!DOCTYPE html>

<html>
  <head>
    <title>Announcements</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'announcements/style.css' %}">
  </head>
    <body class="body">
    {% block content %}
          <div class="bar">
            <div class="buttonCase">
              <a href="posts/"><button class="barButton">Home</button></a> | <a href="admin/"><button class="barButton">Make Announcements</button></a> | <a href="admin/"><button class="barButton">Approvals</button></a>
            </div>
            <div class="profileCase">
              <link href="admin/" class="profile">Log in</link> | <link href="admin/" class="profile1">Sign up</link>
            </div>
          </div>
		{% endblock %}
  </body>
</html>
