{% extends "announcements/header.html" %}

{% block content %}
<body class="body">
      <div class="bar">
        <div class="buttonCase">
          <a href="posts/"><button class="barButton">Home</button></a> | <a href="admin/"><button class="barButton">Make Announcements</button></a> | <a href="admin/"><button class="barButton">Approvals</button></a>
        </div>
        <div class="profileCase">
          <link href="admin/" class="profile">Log in</link> | <link href="admin/" class="profile1">Sign up</link>
        </div>
      </div>

      <div class="canvas">
      </div>
</body>
{% endblock %}
